body{
    background: url("./bg.webp") no-repeat center center fixed;
    background-size: cover;
}
h1, h2, h3 {
    color: #222;
}

#timer{
    text-align: center;

}

.timer-part{
    margin: 15px;
    flex-wrap: wrap;
    display: inline-block;
    text-align: center;
}

.timer-val{
    font-size: 80px;
    font-weight: bold;
    display:block;
}

.timer-header{
    margin: 15px;
}

.timer-name{
    font-size: 30px;
    color: #222;
}

.timer-description{
    color: #444;
}

.counter-footer{
    width: 100%;
    padding-top: 25vh;
}

/* Large Screens */
@media only screen and (min-width: 750px){
    body{
        padding: 10vh 20vw 15vh 20vw;
    }
}

/* Small Screens */
@media only screen and (max-width: 750px){
    body{
        padding: 10vh 5vw 15vh 5vw;
    }
}
